:root {
  --minefield-background-color: #ffcfea;
  /* --beginner-color: #10d7ae; */
  /* --intermediate-color: #e68e36; */
  --beginner-color: #cbffe6;
  --intermediate-color: #feffbe;
  --advanced-color: #dd517f;
  /* --mine-color: #bfb9ff; */
  --mine-color: #43457f;
  --hidden-color: #ff9b83;
  --info-color: #ffffff;
  /* --info-color: #afe9ff; */

  --active-difficulty-color: #afe9ff;

  --beginner-aspect-ratio: 70%;
  --inter-aspect-ratio: 125%;
  --advanced-aspect-ratio: 100%;
}

.MetaMinesweeperContainer {
  background-color: var(--minefield-background-color);
  border: 2px;
  border-style: solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
