.Mine {
  width: 100%;
  height: 100%;
  background-color: plum;
}

.HiddenIcon {
  height: 100%;
  width: 100%;
}

.HiddenIcon {
  height: 100%;
  width: 100%;
  background-color: orange;
}

.ExplodedMine {
  width: 100%;
  height: 100%;
  background-color: maroon;
}
.Counter {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  position: relative;
}

.NeighborCounter {
  height: 100%;
  width: 100%;
  /* display: flex; */

  background-color: aquamarine;
  text-align: center;
  overflow: hidden;

  position: absolute;
  top: 50%; /* 3 */
  transform: translate(0, -50%);

  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  display: inherit;
}

.AppContainer {
  width: 100vw;
  height: 100vh;
  position: center;
}

.App {
  width: 100vh;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.GameOver {
  width: 100%;
  height: 100%;
  background-color: orchid;
  position: absolute;
  border: orange 1px;
  opacity: 0.6;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
}

.GameOverButton {
  width: 90%;
  height: 90%;
  background-color: #f44336;

  transform: translate(5.8%, 5.8%);
}
.GameWon {
  width: 90%;
  height: 90%;
  background-color: greenyellow;
  opacity: 0.9;
  margin: auto;
  position: relative;
}

.MinefieldContainer {
  width: 60%;
  height: 60%;
  /* margin: 0 auto; */
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
