:root {
  --mine-border-radius: 6px;
}

.Mine {
  width: 100%;
  height: 100%;
}

.HiddenIcon {
  height: 100%;
  width: 100%;
  background-color: var(--hidden-color);
  border-radius: var(--mine-border-radius);
  cursor: not-allowed;
}

.ExplodedMine {
  width: 100%;
  height: 100%;
  background-color: var(--advanced-color);
  border-radius: var(--mine-border-radius);
}
.Counter {
  width: 100%;
  height: 100%;
  border-radius: var(--mine-border-radius);
  background-color: var(--beginner-color);
  position: relative;
  /* vertical-align: middle; */
  display: flex;
  justify-content: center;
  padding: 0px;
}
.Invis {
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;

  position: relative;
  line-height: 0px;

  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.NeighborCounter {
  height: 100%;
  width: 100%;
  border-radius: var(--mine-border-radius);

  background-color: var(--beginner-color);
  text-align: center;
  cursor: default;
  user-select: none;

  position: relative;
  line-height: 0px;

  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Unexplored {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: var(--mine-border-radius);
  background-color: var(--mine-color);
}

.Unexplored:hover {
  transform: scale(1.1);
}
